<h1>All Users</h1>

<ul>
  <% @users.each do |user|  %>
    <li><%= link_to user.name, user %>
      <%#= render "friendships/form", user: current_user, friend: user %>
      <button class="friend" data-id="<%= user.id %>">Friend user</button>
    </li>
  <% end  %>

  <script>
    $('.friend').on('click', function(){
      var button = $(this)
      button.prop('disabled', true);
      button.html('Friending...')
      var id = button.attr('data-id');
      $.ajax({
        url: ""+id+"/friendships",
        type: "POST",
        success: function (){
          // alert("Friend added");
          button.remove();
        }
      });
    });
  </script>

</ul>