<h1>Write a Secret!</h1>

<form action="<%= new_user_secret_url %>" method="POST">
  <%= render "layouts/auth" %>

  <select name="secret[recipient_id]">
    <option value=""></option>
    <% @users.each do |user| %>
      <% next if user.id == current_user.id %>
      <option value="<%= user.id  %>"><%= user.name %></option>
    <% end %>
  </select><br>

  <textarea rows="5" cols="20" name="secret[text]"></textarea><br>
  <input type="submit" value="Submit your secret">
</form>